t/tmp
attic/
*.ps
*.sqlite
MYMETA.*
*.~*~
foo*
Makefile.old
Makefile
*.tar.gz
blib/
pm_to_blib
z
*#
t/*.log
!t/t/ref/regress.Pg.ref.log
!t/ref/regress.SQLite.ref.log
t/formatdb.log
t/annotator.test.log*
t/assembler.test.log*
t/compare.test.log*
t/error.log*
t/filter.test.log*
t/load.test.log*
t/move_annotation*.log
t/regress.*.log.[1-9]*
t/seq.test.log
t/sample_pe1.*
t/count_fastq.[1-9]*.inp
t/testdb/human_cdna.fasta.nhr
t/testdb/human_cdna.fasta.nin
t/testdb/human_cdna.fasta.nsd
t/testdb/human_cdna.fasta.nsi
t/testdb/human_cdna.fasta.nsq
t/testdb/human_cdna.fasta.ndb
t/testdb/human_cdna.fasta.njs
t/testdb/human_cdna.fasta.not
t/testdb/human_cdna.fasta.ntf
t/testdb/human_cdna.fasta.nto
t/testdb/yeast_nrpep.phr
t/testdb/yeast_nrpep.pin
t/testdb/yeast_nrpep.psd
t/testdb/yeast_nrpep.psi
t/testdb/yeast_nrpep.psq
t/test.seq
t/test.seq.qual
t/test.prot.seq
t/*.dif
t/danio.seq*
t/count_aa.out
